html {
	/*Box model stuff*/
	background: rgb(240, 240, 240);
	/*Typography stuff*/
	font-size: 62.5%;
}

body {
	/*Box model stuff*/
	margin: 0;
	/*Typography stuff*/
	font-family: sans-serif;
	font-size: 1.6rem;
	text-decoration: none;
	/*Miscellaneous*/
	box-sizing: border-box;
	list-style: none;
}

h1,
h2,
h3,
h4,
p {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
}

.container {
	/*Box model stuff*/
	width: min(60rem, calc(100% - 2rem));
	height: 75rem;
	margin: 5rem auto 0;
	padding: 0 0 5rem;
	border: 1rem solid rgb(31, 31, 31);
	border-radius: 3rem;
	background: white;
	/*Miscellaneous*/
	overflow-y: scroll;
}

.header__img {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	/*Box model stuff*/
	height: 16.7rem;
	border-radius: 1.5rem 1.5rem 0 0;
	background-image: url(images/burger.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 100% auto;
	/*Miscellaneous*/
	gap: 1rem;
}

.header__img > * {
	/*Box model stuff*/
	margin: 0 0 0 4rem;
	/*Typography stuff*/
	color: white;
}

main,
footer {
	/*Box model stuff*/
	margin: 0 4.5rem;
}

.pizza,
.hamburger,
.beer {
	/*Display stuff*/
	display: flex;
	align-items: center;
	/*Box model stuff*/
	margin-top: 4.5rem;
	padding-bottom: 5rem;
	border-bottom: 1px solid #8b8b8b;
}

.pizza {
	/*Box model stuff*/
	margin-top: 6.5rem;
}

.emoji {
	/*Box model stuff*/
	margin: 0 0 0.5rem;
	/*Typography stuff*/
	font-size: 6rem;
}

.food__information {
	/*Display stuff*/
	display: flex;
	flex-direction: column;
	/*Box model stuff*/
	margin-left: 2rem;
	/*Miscellaneous*/
	gap: 1rem;
}

.ingredients {
	/*Typography stuff*/
	color: #8b8b8b;
}

#pizza__button,
#hamburger__button,
#beer__button {
	/*Box model stuff*/
	width: 5rem;
	margin-left: auto;
	padding: 0 0 0.1rem 0.1rem;
	border: 2px solid #dedede;
	border-radius: 50%;
	background: none;
	/*Typography stuff*/
	font-size: 2rem;
	color: #595959;
	/*Miscellaneous*/
	aspect-ratio: 1/1;
}

#pizza__button:hover,
#hamburger__button:hover,
#beer__button:hover {
	/*Box model stuff*/
	background: #f9f9f9;
}

button:hover {
	/*Miscellaneous*/
	cursor: pointer;
}

.price__container {
	/*Display stuff*/
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.order__title {
	/*Box model stuff*/
	margin-top: 3.5rem;
	/*Typography stuff*/
	text-align: center;
}

.divide__line {
	/*Box model stuff*/
	width: 100%;
	height: 2px;
	margin: 1.5rem 0;
	background: #393333;
}

#confirm__purchase {
	/*Box model stuff*/
	width: 100%;
	margin-top: 5rem;
	padding: 1.2em;
	border: none;
	background: #16db99;
	/*Typography stuff*/
	font-size: 2rem;
	font-weight: bold;
	color: white;
	/*Miscellaneous*/
}

ul {
	/*Box model stuff*/
	padding: 0;
}

li {
	/*Display stuff*/
	display: flex;
	/*Typography stuff*/
	text-decoration: none;
	/*Miscellaneous*/
	list-style: none;
}

li > p {
	/*Box model stuff*/
	margin-left: auto;
}

.remove__btn {
	/*Box model stuff*/
	border: none;
	background: none;
	/*Typography stuff*/
	color: #bbbbbb;
}

.order__container {
	/*Display stuff*/
	display: none;
}

.form__container {
	/* position: relative; */
	bottom: 0rem;
}

form {
	position: absolute;
	width: 40rem;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	background: white;
	box-shadow: 0 0 100px black;
	padding: 4rem 2rem 2rem;
	display: none;
}

form > h2 {
	text-align: center;
	margin-bottom: 4rem;
}

form > .inputs {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

input {
	padding: 1em;
	font-size: 2rem;
}

input[type='submit'] {
	margin-top: 3rem;
	width: 100%;
	font-size: 2rem;
	padding: 0.8em;
	border: none;
	background: #16db99;
	color: white;
}

input[type='submit']:hover {
	cursor: pointer;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	display: none;
	margin: 0;
}

.order__finished {
	display: none;
	background: #ecfdf5;
	color: #065f46;
	margin-top: 4.5rem;
	width: 100%;
	height: 12rem;
	justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	font-weight: bold;
}
